@use '../vendor/vars'as *;
@use '../vendor/fonts'as *;
@use '../vendor/mixin'as *;

.guide {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  row-gap: 58px;
  padding: 25px 0 40px 0;
  overflow: scroll;
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 29px;

  &__item:nth-child(3) {
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    gap: 15px;
    align-items: center;
    color: $color-grey;
  }
}

.subscriptions {
  margin-bottom: 46px;

  &__title {
    margin-bottom: 30px;
    @include font-style($b:$color-black, $c:700, $d:18px, $e:20.08px);
  }
}

.subscriptions-list {
  display: flex;
  flex-direction: column;
  row-gap: 23px;

  &__link {
    display: flex;
    gap: 10px;
    align-items: center;
    color: $color-grey;
  }
}

.settings {
  display: flex;
  gap: 15px;
  align-items: center;
  color: $color-grey;
}
