@use '../vendor/vars' as *;
@use '../vendor/fonts' as *;
@use '../vendor/mixin' as *;
@use './normalize.css' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}


body {
  width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: $color-white;
  @include font-style($b:$color-title-black, $c:400, $d:16px, $e:20.08px);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

button:active,
button:hover,
button:focus,
button:focus-visible {
  outline: none;
  cursor: pointer;
}

a:active,
a:focus,
a:hover,
a:focus-visible {
  outline: none;
  cursor: pointer;
}

input:active,
input:focus,
input:hover,
input:focus-visible {
  outline: none;
  cursor: pointer;
}


.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1920px;
  width: 100%;
}

.main {
  display: flex;
  column-gap: 40px;
  height: calc(100vh - 100px);
  overflow: hidden;
}
