html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  padding: 0 30px;
  @include font-style($color-title-black, 400, 16px, 20.08px);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

button:active,
button:hover,
button:focus,
button:focus-visible {
  outline: none;
  cursor: pointer;
}

a:active,
a:focus,
a:hover,
a:focus-visible {
  outline: none;
  cursor: pointer;
}

input:active,
input:focus,
input:hover,
input:focus-visible {
  outline: none;
  cursor: pointer;
}


.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
