.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  display: flex;
  column-gap: 10px;
  padding: 0 0 0 30px;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.title {
  color: var(--color-title-black);
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 20.08px;
}

.img {
  display: block;
}